[submodule "third_party/crates/bootloader"]
	path = third_party/crates/bootloader
	url = https://github.com/Narasimha1997/bootloader.git
	branch = main

[submodule "third_party/crates/linked-list-allocator"]
	path = third_party/crates/linked-list-allocator
	url = https://github.com/phil-opp/linked-list-allocator.git
	branch = master

[submodule "third_party/crates/object"]
        path = third_party/crates/object
        url = https://github.com/gimli-rs/object.git
        branch = master

[submodule "third_party/crates/pc-keyboard"]
	path = third_party/crates/pc-keyboard
	url = https://github.com/rust-embedded-community/pc-keyboard.git
        branch = master

[submodule "third_party/crates/rand"]
        path = third_party/crates/rand
        url = https://github.com/rust-random/rand.git
        branch = master
